

//~ COLORS

$primary-color: #0077FF;
$secondary-color: #FF9900;
$bodybackground-color: #F0F0F0;
$sidebarbackground-color: #a8d5e5;
$companyname-color: #165a72;

//~ Size

$font-small:20px;
$font-medium:30px;
$font-big:40px;


